# VSCode
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr

# Sublime Text
*.sublime-workspace
*.sublime-project

# Eclipse
.project
.classpath
.settings/

# Vim
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Project specific
text_folder/
